<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" th:href="@{ICON.jpg}"/>
    <title>This is the title of the webpage!</title>
</head>
<body>
<div style="text-align:center">
    <p>
    <h1>Panel Klienta</h1></p>
    <img th:src="@{LOGO.jpg}"/>
    <h2>Wyszukiwarka</h2>

</div>

<br>
<!--<form th:align="center" th:object="${cityAndTypeOfService}" th:action="@{/find-by-city}" method="post">
    <label th:for="searchForProvidersByCity" th:text="'Szukaj wg miasta'"></label>
    <input type="text" id="searchForProvidersByCity" th:field="*{city}">
    <button type="submit" th:text="Wyszukaj"></button>
</form>
<br>-->

<form th:align="center" th:object="${cityAndTypeOfService}" th:action="@{/find-by-service}" method="post">
    <label th:for="searchForProvidersByService" th:text="'podaj rodzaj uslugi'"></label>
    <select id="searchForProvidersByService" th:field="*{serviceType}">
        <option th:each="service_option : ${T(com.infoshareacademy.domain.TypesOfService).values()}"
                th:value="${service_option}" th:text="${service_option.fullName}">
        </option>
    </select>
    <label th:for="searchForProvidersByServicee" th:text="'podaj miasto'"></label>
    <input type="text" id="searchForProvidersByServicee" th:field="*{city}">
    <button type="submit" th:text="Wyszukaj"></button>
</form>
<br><br>
<div th:align="center">
<button  onclick="window.location.href='/'">Return to Main Menu</button>
</div>

</body>
</html>