<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Client menu</title>
    <!-- Bootstrap CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <div th:insert="header"></div>
</head>

<body>


    <div th:width="200" th:align="center">
        <form th:object="${cityAndTypeOfService}" th:action="@{/find}" method="post">
            <label class=”control-label” th:for="searchForProvidersByCity" th:text="'Szukaj wg miasta'"></label>
            <input class="form-control" type="text" id="searchForProvidersByCity" th:field="*{city}">

            <label class=”control-label” th:for="searchForProvidersByService" th:text="'Szukaj wg rodzaju uslugi'"></label>
            <select class="form-control" id="searchForProvidersByService" th:field="*{serviceType}">

                <option th:each="service_option : ${T(com.infoshareacademy.domain.TypesOfServiceForForm).values()}"
                        th:value="${service_option}" th:text="${service_option.fullName}">
                </option>



            </select>
            <label class=”control-label” th:for="searchForProvidersByDate" th:text="'Szukaj wg daty'"></label>
            <input class="form-control" type="date" id="searchForProvidersByDate" th:field="*{date}">
            <br>
            <button class="btn btn-primary " type="submit" th:text="Wyszukaj"></button>
        </form>
    </div>



<!-- Bootstrap core JS-->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>