<!DOCTYPE html>
<html lang=“en” xmlns:th=“http://www.thymeleaf.org” xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”
      layout:decorate=“~{layout}“>
<head>
    <link rel="shortcut icon" th:href="@{ICON.jpg}"/>
    <title>This is the title of the webpage!</title>
</head>
<body>
<div style="text-align:center">
    <p>
    <h1>Perfect Wedding</h1></p>
    <img th:src="@{LOGO.jpg}"/>
    <br/>

    <button onclick="window.location.href='/find-by-city'">Client panel</button>
    <button onclick="window.location.href='/providers'">Provider panel</button>
    <br>
    <button onclick="window.location.href='/all-providers'">All providers</button>

</div>
</body>
</html>