<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <link th:href="@{/css/Style.css}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" th:href="@{ICON.jpg}"/>
    <title>All Providers</title>
</head>


<body>
<!--<div style="text-align:center">-->
<!--    <p>-->
<!--    <h1>Panel Klienta</h1></p>-->
<!--    <img th:src="@{LOGO.jpg}"/>-->
<!--    <h2>Tu ma być wyszukiwarka</h2>-->
<!--    <button onclick="window.location.href='/'">Return to Main Menu</button>-->
<!--</div>-->
<body class="bg-light">
<header class="section-header ">
    <div th:insert="fragments/frame::header ('Dodawanie dostawcy')"></div>
</header>

<section class="section-content py-3">
    <div class="row">
        <aside class="col-lg-2">
            <div class="nav-link navbar-right">
                <nav>
<!--                    <div th:insert="fragments/commonButtons :: custom ('providers',#{ToServiceProviderPanel.caption})"></div>-->
                    <div th:insert="fragments/commonButtons :: custom ('',#{ToMainMenu.caption})"></div>
                </nav>
            </div>
            <!--            <div class="form-control left-10">-->
            <!--                <form th:object="${cityAndTypeOfService}" th:action="@{/find}" method="post">-->
            <!--                    <label class=”control-label” th:for="searchForProvidersByCity" th:text="'Szukaj wg miasta'"></label>-->
            <!--                    <input class="form-control" type="text" id="searchForProvidersByCity" th:field="*{city}">-->
            <!--                    &lt;!&ndash;                <button class="btn btn-primary " type="submit" th:text="Wyszukaj"></button>&ndash;&gt;-->
            <!--                    &lt;!&ndash;&lt;!&ndash;            </form>&ndash;&gt;&ndash;&gt;-->

            <!--                    &lt;!&ndash;&lt;!&ndash;            <br>&ndash;&gt;&ndash;&gt;-->

            <!--                    &lt;!&ndash;            <form th:object="${cityAndTypeOfService}" th:action="@{/find-by-service}" method="post">&ndash;&gt;-->
            <!--                    <label class=”control-label” th:for="searchForProvidersByService" th:text="'Szukaj wg rodzaju uslugi'"></label>-->
            <!--                    <select class="form-control" id="searchForProvidersByService" th:field="*{serviceType}">-->
            <!--                        &lt;!&ndash;                    <option th:text="'Wszystkie typy uslug'" th:value="'All'"/>&ndash;&gt;-->
            <!--                        <option th:each="service_option : ${T(com.infoshareacademy.domain.TypesOfService).values()}"-->
            <!--                                th:value="${service_option}" th:text="${service_option.fullName}">-->
            <!--                        </option>-->


            <!--                    </select>-->
            <!--                    <label class=”control-label” th:for="searchForProvidersByDate" th:text="'Szukaj wg daty'"></label>-->
            <!--                    <input class="form-control" type="date" id="searchForProvidersByDate" th:field="*{date}">-->
            <!--                    <button class="btn btn-primary " type="submit" th:text="Wyszukaj"></button>-->
            <!--                </form>-->
            <!--            </div>-->
        </aside>
        <main class="col-lg-8">
            <form class="form-control left-10" th:action="@{/providers/create}" method="post"
                  th:object="${serviceProviderAddDto}">

                <label class=”control-label” th:for="companyName" th:text="'podaj Company Name'"></label>
                <input class="form-control" type="text" id="companyName" th:field="*{companyName}">
                <div th:if="${#fields.hasErrors('companyName')}">
                    <span th:each="error : ${#fields.errors('companyName')}" th:text="${error}"></span>
                </div>
                <label class=”control-label” th:for="ownerName" th:text="'Podaj imie wlasciciela'"></label>
                <input class="form-control" type="text" id="ownerName" th:field="*{ownerName}">
                <div th:if="${#fields.hasErrors('ownerName')}">
                    <span th:each="error : ${#fields.errors('ownerName')}" th:text="${error}"></span>
                </div>
                <label class=”control-label” th:for="ownerSurname" th:text="'Podaj nazwisko wlasciciela'"></label>
                <input class="form-control" type="text" id="ownerSurname" th:field="*{ownerSurname}">
                <div th:if="${#fields.hasErrors('ownerSurname')}">
                    <span th:each="error : ${#fields.errors('ownerSurname')}" th:text="${error}"></span>
                </div>
                <label class=”control-label” th:for="phone" th:text="'Podaj telefon'"></label>
                <input class="form-control" type="text" id="phone" th:field="*{phone}">
                <div th:if="${#fields.hasErrors('phone')}">
                    <span th:each="error : ${#fields.errors('phone')}" th:text="${error}"></span>
                </div>
                <label class=”control-label” th:for="email" th:text="'Podaj email'"></label>
                <input class="form-control" type="email" id="email" th:field="*{email}">
                <label class=”control-label” th:for="websiteAddress" th:text="'Podaj adres strony WWW'"></label>
                <input class="form-control" type="text" id="websiteAddress" th:field="*{websiteAddress}">
                <label class=”control-label” th:for="voivodeship" th:text="'Podaj wojewodztwo'"></label>
                <select class="form-control" id="voivodeship" th:field="*{voivodeship}">
                    <option th:each="category_option : ${T(com.infoshareacademy.domain.Voivodeship).values()}"
                            th:value="${category_option}" th:text="${category_option.fullName}">
                    </option>
                </select>
                <div th:if="${#fields.hasErrors('voivodeship')}">
                    <span th:each="error : ${#fields.errors('voivodeship')}" th:text="${error}"></span>
                </div>
                <label class=”control-label” th:for="city" th:text="'Podaj miejscowość'"></label>
                <input class="form-control" type="text" id="city" th:field="*{city}">
                <div th:if="${#fields.hasErrors('city')}">
                    <span th:each="error : ${#fields.errors('city')}" th:text="${error}"></span>
                </div>
                <label class=”control-label” th:for="typeOfService" th:text="'Podaj rodzaj usługi'"></label>
                <select class="form-control" id="typeOfService" th:field="*{typesOfService}">
                    <option th:each="category_option : ${T(com.infoshareacademy.domain.TypesOfService).values()}"
                            th:value="${category_option}" th:text="${category_option.fullName}">
                    </option>
                </select>
                <div th:if="${#fields.hasErrors('typesOfService')}">
                    <span th:each="error : ${#fields.errors('typesOfService')}" th:text="${error}"></span>
                </div>
                <label class=”control-label” th:for="description" th:text="'Podaj opis'"></label>
                <input class="form-control" type="text" id="description" th:field="*{description}">
                <div th:if="${#fields.hasErrors('description')}">
                    <span th:each="error : ${#fields.errors('description')}" th:text="${error}"></span>
                </div>
                <label class=”control-label” th:for="price" th:text="'Podaj cenę'"></label>
                <input class="form-control" type="number" id="price" th:field="*{price}">
                <div th:if="${#fields.hasErrors('price')}">
                    <span th:each="error : ${#fields.errors('price')}" th:text="${error}"></span>
                </div>
                <label class=”control-label” th:for="availability" th:text="'Podaj datę dostępności'"></label>
                <input class="form-control" type="date" id="availability" th:field="*{availability}">
                <div th:if="${#fields.hasErrors('availability')}">
                    <span th:each="error : ${#fields.errors('availability')}" th:text="${error}"></span>
                </div>

                <button class="btn btn-primary " th:type="submit" value="Submit" th:text="'Dodaj dostawce'"></button>
            </form>
        </main>


    </div>
    </section>

    <br>
    <a href="http://localhost:8080/all-providers">All providers</a>
</body>
</html>