<!--<!DOCTYPE html>-->
<!--<html lang=“en” xmlns:th=“http://www.thymeleaf.org” xmlns:layout=“http://www.ultraq.net.nz/thymeleaf/layout”-->
<!--      layout:decorate=“~{layout}“>-->
<!--<head>-->
<!--    <link rel="shortcut icon" th:href="@{ICON.jpg}"/>-->
<!--    <title>This is the title of the webpage!</title>-->
<!--</head>-->
<!--<body>-->
<!--<div style="text-align:center">-->
<!--    <p>-->
<!--    <h1>Panel Uslugodawcy</h1></p>-->
<!--    <img th:src="@{LOGO.jpg}"/>-->
<!--    <br>-->
<!--    <div style="margin: auto">-->
<!--        <button onclick="window.location.href='providers/create'">Create provider</button>-->
<!--        <button onclick="window.location.href='providers/edit'">Edit provider</button>-->
<!--        <button onclick="window.location.href='providers/deactivate'">Deactivate provider</button>-->
<!--        <button onclick="window.location.href='/'">Return to Main Menu</button>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <link th:href="@{/css/Style.css}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" th:href="@{ICON.jpg}"/>
    <title th:text="'Provider Menu'"></title>
</head>
<body class="bg-light">
<header class="section-header">
    <div th:insert="fragments/frame::header ('Strona Glowna')"></div>
</header>
<div class="nav-link navbar-right ">
    <nav>
         <div th:insert="fragments/commonButtons :: custom ('providers/create','Utworz dostawce')"></div>
        <div th:insert="fragments/commonButtons :: custom ('providers/edit','Edytuj dostawce')"></div>
        <div th:insert="fragments/commonButtons :: custom ('providers/deactivate','Usun dostawce')"></div>
        <div th:insert="fragments/commonButtons :: custom ('','Strona glowna')"></div>


        <!--        <button onclick="window.location.href='providers/deactivate'">Deactivate provider</button>-->
        <!--        <button onclick="window.location.href='/'">Return to Main Menu</button>-->

    </nav>
</div>
<!--<section class="section-content py-3">-->
<!--    <div class="row">-->
<!--        <aside class="col-lg-2">-->
<!--            <div th:insert="fragments/frame::menu"></div>-->

<!--        </aside>-->
<!--    </div>-->
<!--</section>-->
</body>
</html>