<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <link th:href="@{/css/Style.css}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" th:href="@{ICON.jpg}"/>
    <title>Add Provider</title>
</head>


<body>
<!--<div style="text-align:center">-->
<!--    <p>-->
<!--    <h1>Panel Klienta</h1></p>-->
<!--    <img th:src="@{LOGO.jpg}"/>-->
<!--    <h2>Tu ma być wyszukiwarka</h2>-->
<!--    <button onclick="window.location.href='/'">Return to Main Menu</button>-->
<!--</div>-->
<body class="bg-light">
<header class="section-header ">

    <div th:insert="fragments/frame::header ('Edycja dostawcy')"></div>
</header>

<section class="section-content py-3">
    <div class="row">
        <aside class="col-lg-2">
            <div class="nav-link navbar-right">
                <nav>
                    <div th:insert="fragments/commonButtons :: custom ('providers',#{ToServiceProviderPanel.caption})"></div>
                    <div th:insert="fragments/commonButtons :: custom ('',#{ToMainMenu.caption})"></div>
                </nav>
            </div>
        </aside>
        <main class="col-lg-8">

                    <form class="form-control left-10" th:action="@{/providers/editById}" method="post" th:object="${serviceEditProviderDto}">
                        <input type="hidden" th:field="*{id}" id="id">

                        <label class=”control-label” th:for="companyName" th:text="'podaj Company Name'"></label>
                        <input class="form-control" type="text" id="companyName" th:field="*{companyName}">
                        <div th:if="${#fields.hasErrors('companyName')}">
                            <span th:each="error : ${#fields.errors('companyName')}" th:text="${error}"></span>
                        </div>
<!--                        ToDo Add more fields to edit-->
                        <button class="btn btn-primary " th:type="submit" value="Submit" th:text="'Zapisz'"></button>
                    </form>
        </main>
    </div>
</section>

<br>
<a href="http://localhost:8080/all-providers">All providers</a>
</body>
</html>