<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" th:href="@{ICON.jpg}"/>
    <title>This is the title of the webpage!</title>
</head>
<body>
<div style="text-align:center">
    <p>
    <h1>Panel Klienta</h1></p>
    <img th:src="@{LOGO.jpg}"/>
    <h2>Wyszukany provider</h2>
    <button onclick="window.location.href='/'">Return to Main Menu</button>
</div>

<table>
    <tr>
        <th>Incremental ID</th>
        <th>Average Rating</th>
        <th>Current ID</th>
        <th>Company Name</th>
        <th>Owner Name</th>
        <th>Owner Surname</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Website Address</th>
        <th>Location</th>
        <th>Service Type</th>
        <th>Availability</th>
        <th>Rating List</th>
    </tr>

    <tr th:each="provider : ${providersByCityTH}">
        <td th:text="${provider.incrementalID}"></td>
        <td th:text="${provider.averageRating}"></td>
        <td th:text="${provider.currentID}"></td>
        <td th:text="${provider.companyName}"></td>
        <td th:text="${provider.ownerName}"></td>
        <td th:text="${provider.ownerSurname}"></td>
        <td th:text="${provider.phone}"></td>
        <td th:text="${provider.email}"></td>
        <td th:text="${provider.websiteAddress}"></td>
        <!--    Tu sie wybierze co nam trzeba. Jak wrzuce samo location to rzyga odniesieniem w pamieci.-->
        <td th:text="${provider.location.getCity()}"></td>
        <!--    Podobnie jak wyzej.-->
        <td th:text="${provider.serviceType.getTypesOfService()}"></td>
        <td th:text="${provider.availability}"></td>
        <td th:text="${provider.ratingList}"></td>

    </tr>
</table>


</body>
</html>