<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title th:text="'Wyszukaj dostawce do edycji'"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <link th:href="@{/css/Style.css}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" th:href="@{ICON.jpg}"/>

</head>
<body>
<!--<div style="text-align:center">-->
<!--    <p>-->
<!--    <h1>Panel Klienta</h1></p>-->
<!--    <img th:src="@{LOGO.jpg}"/>-->
<!--    <h2>Tu ma być wyszukiwarka</h2>-->
<!--    <button onclick="window.location.href='/'">Return to Main Menu</button>-->
<!--</div>-->
<body class="bg-light">
<header class="section-header ">
    <div th:insert="fragments/frame::header ('Wyszukaj dostawce do edycji')"></div>
</header>

<section class="section-content py-3">
    <div class="row">
        <aside class="col-lg-2">
            <div class="nav-link navbar-right">
                <nav>
                    <div th:insert="fragments/commonButtons :: custom ('providers',#{ToServiceProviderPanel.caption})"></div>
                    <div th:insert="fragments/commonButtons :: custom ('',#{ToMainMenu.caption})"></div>
                </nav>
            </div>
            <div class="form-control left-10">
            <form th:object="${cityAndTypeOfService}" th:action="@{/providers/edit}" method="post">
                <label class=”control-label” th:for="searchForProvidersByCity" th:text="'Szukaj wg miasta'"></label>
                <input class="form-control" type="text" id="searchForProvidersByCity" th:field="*{city}">
<!--                <button class="btn btn-primary " type="submit" th:text="Wyszukaj"></button>-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->

<!--&lt;!&ndash;            <br>&ndash;&gt;-->

<!--            <form th:object="${cityAndTypeOfService}" th:action="@{/find-by-service}" method="post">-->
                <label class=”control-label” th:for="searchForProvidersByService" th:text="'Szukaj wg rodzaju uslugi'"></label>
                <select class="form-control" id="searchForProvidersByService" th:field="*{serviceType}">
<!--                    <option th:text="'Wszystkie typy uslug'" th:value="'All'"/>-->
                    <option th:each="service_option : ${T(com.infoshareacademy.domain.TypesOfServiceForForm).values()}"
                            th:value="${service_option}" th:text="${service_option.fullName}">
                    </option>



                </select>
                <label class=”control-label” th:for="searchForProvidersByDate" th:text="'Szukaj wg daty'"></label>
                <input class="form-control" type="date" id="searchForProvidersByDate" th:field="*{date}">
                <button class="btn btn-primary " type="submit" th:text="Wyszukaj"></button>
            </form>
            </div>
        </aside>
    </div>
</section>
</body>




</body>
</html>