<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" th:href="@{ICON.jpg}"/>
    <title>This is the title of the webpage!</title>
</head>
<body>
<div style="text-align:center">
    <p>
    <h1>Panel Uslugodawcy</h1></p>
    <img th:src="@{LOGO.jpg}"/>
    <br>
    <div style="margin: auto">


        <form th:action="@{/providers/create}" method="post" th:object="${serviceProviderAddDto}">

            <label th:for="companyName" th:text="'podaj Company Name'"></label>
            <input type="text" id="companyName" th:field="*{companyName}">
            <br>

            <label th:for="ownerName" th:text="'Podaj imie wlasciciela'"></label>
            <input type="text" id="ownerName" th:field="*{ownerName}">
            <br>

            <label th:for="ownerSurname" th:text="'Podaj nazwisko wlasciciela'"></label>
            <input type="text" id="ownerSurname" th:field="*{ownerSurname}">
            <br>

<!--            <label th:for="voivodeship" th:text="'Podaj wojewodztwo'"></label>-->
<!--            <input type="text" id="voivodeship" th:field="*{voivodeship}">-->
<!--            <br>-->

            <label th:for="voivodeship" th:text="'Podaj wojewodztwo'"></label>
            <select id="voivodeship" th:field="*{voivodeship}">
                <option th:each="category_option : ${T(com.infoshareacademy.domain.Voivodeship).values()}"
                        th:value="${category_option}" th:text="${category_option.fullName}">
                </option>
            </select>
            <br>
            <input th:type="submit" value="Submit">
        </form>


    </div>
</div>

<br>
<a href="http://localhost:8080/all-providers">All providers</a>
</body>
</html>